/////////////
////RESUME CSS
/////////////

///////////////////////////
//COLOUR SCHEME
///////////////////////////
@colorOne: #0a090f;
@colorTwo: #101624;
@colorThree: #223241;
@colorFour: #9ab6cc;
@colorFive: #d7e2ed;

///////////////////////////
//Mixins
///////////////////////////
.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@X: 1px, @Y: 1px, @blur: 3px, @color: #888) {
  text-shadow: @X @Y @blur @color;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

///////////////////
////GENERAL
//////////////////

body {
  background-color: @colorOne;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px;
  padding: 0;
}

p, a {
  .textShadow(1px, 1px, 1px, @colorOne);
  margin: 10px;
  padding: 0;
}

section {
  .rounded-corners();
  .shadow(1px, 1px, 2px, 1px, @colorThree);
  background-color: @colorOne;
  margin: 10px 0;
  padding: 10px;
}

//////////////////
////MAIN CONTENT
//////////////////
#mainContainer {
  .transparentBG(@colorFive, 0.75);
  .rounded-corners();
  .shadow();
  margin: 10px auto;
  padding: 20px;
  width: 960px;
}

//////////////////
////MAIN HEADER
//////////////////
#mainHeader {
  .rounded-corners();
  .shadow(inset, 0, 0, 5px, @colorOne);
  margin: 0;
  padding: 5px;
  background-color: @colorThree;
}

#mainHeader h1 {
  .textShadow(1px, 1px, 3px, @colorThree);
  color: @colorFour;
}

#mainHeader h2 {
  .textShadow(1px, 1px, 3px, @colorThree);
  color: @colorFive;
}

//////////////////
////INFO
//////////////////
#info h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

#info a {
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: @colorFive;
}

#info a:hover {
  color: @colorFour;
}

//////////////////
////ABOUT
//////////////////
#about h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

#about p {
  line-height: 20px;
  color: @colorFive;
}

///////////////////
////EXPERIENCE
///////////////////
#experienceTitle {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

.company {
  margin: 10px;
  .transparentBG(@colorFour, 0.5);
}

.company h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFive;
}

.company h3 {
  .textShadow(1px, 1px, 1px, @colorThree);
  color: @colorTwo;
}

.company h4 {
  .textShadow(1px, 1px, 1px, @colorOne);
  color: @colorFour;
}

.company h5 {
  color: @colorTwo;
}

.company p {
  color: @colorFive;
}

///////////////////
////EDUCATION
///////////////////
#educationTitle {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

.school {
  margin: 10px;
  .transparentBG(@colorFour, 0.5);
}

.school h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFive;
}

.school h3 {
  .textShadow(1px, 1px, 1px, @colorThree);
  color: @colorOne;
}

.school h4 {
  color: @colorTwo;
}

.school p {
  color: @colorFive;
}

///////////////////
////SKILLS
///////////////////
#skills h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

#skills h3 {
  .textShadow(1px, 1px, 3px, @colorOne);
  color: @colorFive;
}

////////////////////
////INTERESTS
////////////////////
#interests h2 {
  .textShadow(1px, 1px, 3px, @colorTwo);
  color: @colorFour;
}

#interests h3 {
  .textShadow(1px, 1px, 3px, @colorOne);
  color: @colorFive;
}

///////////////////////
////
////RESPONSIVE LAYOUT
////
///////////////////////
